.form__label {
    width: 100%;
}

.form__label_text {
    color: #0053b9;
    margin-bottom: 10px;
    margin-top: 20px;
}

.form__button {
    align-self: flex-end;
}

.form__button {
    margin-top: 20px;
}

/* @media  запросы. От 768px и выше. (Планшет) */
@media (min-width: 768px) {
    .form__label {
        margin-right: 30px;
    }
}